<h1>Transactions by month</h1>
<table>
  <tr><%sum = 0%>
  <th>Merchant</th><th>Type</th><th>Amount</th><th>Date</th><th>Time</th>
  </tr>
  <%@transactions = @transactions.sort_by {|transaction| transaction.amount} %>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.type %></td>
    <td>£<%='%.2f' % transaction.amount%></td>
    <%sum += transaction.amount%>
  <!--   Reverse the date format, splits the date into an array then reverses it then joins it -->
    <td><%=transaction.transaction_date.split('-').reverse.join('-')%></td>
    <td><%=transaction.transaction_time%></td>
  </tr>
  <% end %>
  <tfoot><td></td><td>Total</td>
  <td>£<%= '%.2f' % sum%></td></tfoot>
 </table>
