<h1>Transactions</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/transactions/new">New transaction!</a>
</p>
<table>
  <tr>
  <th>Merchant</th><th>Type</th><th>Amount</th><th>Date</th><th>Time</th>
  </tr>
  <%@transactions = @transactions.sort_by {|transaction| transaction.amount} %>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.type %></td>
    <td>£<%='%.2f' % transaction.amount%></td>
    <td><%=transaction.transaction_date.split('-').reverse.join('-')%></td>
    <td><%=transaction.transaction_time%></td>
    <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" /></form></td>
    <td><form action="/transactions/<%= transaction.id %>/edit" method="GET">
    <input class="btn btn--danger" type="submit" value="edit" /></form></td>
  </tr>
  <% end %>
  <tfoot><td></td><td>Total</td><td>£<%= '%.2f' % Transaction.total%></td></tfoot>
</table>
